#resposta-ajax{
	display: block;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}
#ms-aviso-box{
	position: absolute;
	top: 50px;
	width: 80vw;
	z-index: 999999;
	margin: auto;
}
.inline-block{
	display: inline-block;
}
.width-50 {
	width: 50%;
}
.pd-left{
	padding-left: 10px;
	@include border-box;
}
.pd-right{
	padding-right: 10px;
	@include border-box;
}


	



.hidden{
	margin-top: -9999px !important;
	top: 0px;
	left: 0px;
	width: 1px;
	height: 1px;
	position: absolute !important;
	opacity: 0 !important;
	overflow: auto;
}
.box-true{
	background-color: #bdffbd;
	padding: 5px;
	text-align: center;
	color: black;
	border: 1px solid #ddd;
	border-radius: 4px;
	outline: none;
}

.box-neutro{
	background-color: #cbefff;
	padding: 5px;
	text-align: center;
	color: black;
	border: 1px solid #ddd;
	border-radius: 4px;
	outline: none;
}
.box-false{
	background-color: #ffceca;
	padding: 5px;
	text-align: center;
	color: black;
	border: 1px solid #ddd;
	border-radius: 4px;
	outline: none;
}
.header-neutro {
	border-bottom-color: #cbefff;
}
.header-false {
	border-bottom-color: #ffceca;
}
.header-true {
	border-bottom-color: #bdffbd;
}

.footer-neutro {
	border-top-color: #cbefff;
}
.footer-false {
	border-top-color: #ffceca;
}
.footer-true {
	border-top-color: #bdffbd;
}
