<form id="form-login" action="/{{nome_sistema}}" name="form-login" method="post" style="max-width: 460px; margin: auto;" novalidate="novalidate">

	<input type="hidden" name="token" value="{{token}}">
	<h2>Login</h2>
	<div class="form-group">
		<label>Email</label>
		<input id="input-email" name="email" type="email" class="form-control" placeholder="email" value="{{email}}">
	</div>
	<div class="form-group">
		<label>Senha</label>
		<input id="input-senha" name="senha" type="password" class="form-control" placeholder="senha" value="{{senha}}">
	</div>

	<div class="toolbar-actions">
		<input type="submit" class="btn btn-large btn-positive" value="Entrar" />
		<a href="/login/criar" data-push="false" class="pull-right">
			Não tenho login
		</a>
	</div>
</form>
<span id="reload" class="icon icon-arrows-ccw text-center hidden"></span>
<script>
	$(document).ready(function(){

		$('#form-login').submit(function(e) {
			e.preventDefault();
			var serializeDados = $('#form-login').serialize();
			var res = $('#resposta-ajax');
			var reload = $('#reload');
			$('.form-actions').addClass('hidden');

			res.html('Aguarde...');
			res.removeClass('hidden');

			boxNeutro(res);
			$.ajax({
				url: '/login/entrar',
				dataType: 'json',
				type: 'POST',
				data: serializeDados,
				beforeSend: function() {

				},
				complete: function() {

				},
				success: function(data, textStatus) {

					$('.toolbar-actions').removeClass('hidden');

					if(data.res == 'ok'){

						boxTrue(res);
						res.html('<span class="icon icon-check"></span> '+data.info);
						window.location.href = "/clientes";

					}else{

						boxFalse(res);
						res.html('<span class="icon icon-cancel"></span> '+data.info);
						$('#input-email').focus();
					}
				},
				error: function(xhr,er) {

					boxFalse(res);
				}
			});
		});
	});
</script>