<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
	<head>
		{{header}}
	</head>
	<body>
		<main>
			<header>
				<nav>
					<a href="/">Inicio</a>
					<a href="/conta">Conta</a>
					<a href="/servicos">Serviços</a>
					<a href="/{{cliente}}">Quem Somos</a>
					<a href="/contato">contato</a>
				</nav>
			</header>
			<section>
				{{visao}}
			</section>
			<footer class="rodape">
				MVC_Maydana.com.br - 2018
			</footer>
		</main>
		<link rel="stylesheet" href="{{static}}css/site.min.css">
		<script src="{{static}}js/site.min.js"></script>
	</body>
</html>