<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
	<head>
		<title>Matheus Maydana</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, height=device-height, user-scalable=yes, initial-scale=1" />
		<meta name="msapplication-tap-highlight" content="no" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="description" content="">
		<meta  name="robots"  content="index, follow"  />
		<!-- <noscript><meta  http-equiv="refresh"  content="1; URL=/noscript"  /></noscript> -->
		<meta name="author" content="Matheus Maydana" />
		<link rel="shortcut icon" href="/img/site/caveira.png" type="image/x-icon">
		<link rel="icon" href="/img/site/caveira.png" type="image/x-icon">
	</head>
	<body>
		<main>
			<header>
				<nav>
					<a href="/">Menu</a>
					<a href="/">Menu</a>
					<a href="/contato">Menu</a>
					<a href="/conta">Menu</a>
					<a href="/">Menu</a>
				</nav>
			</header>
			<section>
				{{visao}}
			</section>
			<footer class="rodape">
				MVC_Maydana.com.br - 2018
			</footer>
		</main>
		<link rel="stylesheet" href="/css/site.min.css">
		<script src="/js/site.min.js"></script>
	</body>
</html>