#ms-aviso-box {
  position: absolute;
  top: 50px;
  width: 80vw;
  z-index: 999999;
  margin: auto; }

.hidden {
  margin-top: -9999px !important;
  top: 0px;
  left: 0px;
  width: 1px;
  height: 1px;
  position: absolute !important;
  opacity: 0 !important;
  overflow: auto; }

.box-true {
  background-color: #bdffbd;
  padding: 5px;
  text-align: center;
  color: black;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none; }

.box-neutro {
  background-color: #cbefff;
  padding: 5px;
  text-align: center;
  color: black;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none; }

.box-false {
  background-color: #ffceca;
  padding: 5px;
  text-align: center;
  color: black;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none; }
