<div class="pane" style="padding: 40px;">
	<div class="form-group">
		<label>Imagens</label>
		<form>
			<input type="hidden" name="token" value="{{token}}">
			<input type="file" name="imgveiculo[]" multiple id="imgveiculo" />
			<button type="button" id="btn">Enviar</button>
		</form>
		<span id="reload" class="icon icon-arrows-ccw text-center hidden"></span>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$("#btn").on('click', function(){

			var data = new FormData();
			data.append('imgveiculo', $('#imgveiculo')[0].files[0]);

			$.ajax({
				url: '/veiculo/novo',
				data: data,
				processData: false,
				contentType: false,
				type: 'POST',
				success: function(rtn){
					console.log(rtn);
				}
			});

		});
	});
</script>