<div  style="display: inline-block; width: 50%; vertical-align: top;"  class="pane sidebar">
	<ul class="list-group">			
		<li class="list-group-header">
			<input id="procuraveiculo" class="form-control" type="text" placeholder="procurar veiculo">
		</li>
		{{veiculos}}
	</ul>
</div>
<div style="display: inline-block; vertical-align: top;" class="pane">
	<button class="btn btn-positive" data-push="push" onclick="xhr('/veiculo/novo-veiculo')">Novo Veiculo</button>
</div>
<script>
	/* teste remove comentario */
	window.veiculos = {{veiculosarray}};

	$('#procuraveiculo').on('keyup', function (){

		for(var x in veiculos){

			console.log(veiculos[x]);
		}
	});
</script>