<div  style="display: inline-block; width: 50%; vertical-align: top;"  class="pane sidebar">
	<ul class="list-group">			
		<li class="list-group-header">
			<input id="procuracliente" class="form-control" type="text" placeholder="procurar cliente">
		</li>
		<li id="clientes-renderTo"></li>
	</ul>
</div>
<div style="display: inline-block; vertical-align: top;" class="pane">
	<button class="btn btn-positive" data-push="push" onclick="xhr('/clientes/novo-cliente')">Novo Cliente</button>
</div>
<script>
	/* TESTE */
	window.clientes = {{clientesarray}};

	window.removeCliente = function(){
		/* AINDA NÃO FUNCIONA */
		$.ajax({
			url: '/clientes/editar_cliente',
			dataType: 'json',
			type: 'POST',
			data: serializeDados,
			beforeSend: function() {

			},
			complete: function() {

			},
			success: function(data, textStatus) {

				$('.form-actions').removeClass('hidden');
				if(data.res == 'ok'){

					boxTrue(res);
					res.html('<span class="icon icon-check"></span> '+data.info);
					xhr('/clientes');

				}else{

					boxFalse(res);
					res.html('<span class="icon icon-cancel"></span> '+data.info);
					$('#input-email').focus();
				}
			},
			error: function(xhr,er) {

				boxFalse(res);
			}
		});
	};

	window.renderClientes = function(){

			var search = Render.searchFor($('#procuracliente').val(), clientes);
			var maskFirst = `<li class="list-group-item"><div class="media-body"><p>encontramos {{total_resultados}} veiculo</p></div></li>`;
			var mask = `
			<li class="list-group-item">
				<img class="img-circle media-object pull-left" src="/img/avatar2.png" width="32" height="32">
				<div class="media-body">
					<strong>{{nome}}</strong>
					<p>{{sexo}} - {{cpf}} - {{descricao}} - {{telefone}}<span style="float: right;">
		<button class="btn btn-secondary" data-push="push" onclick="xhr('/clientes/remover?id={{id}}')">Remover</button>
		<button class="btn btn-primary" data-push="push" onclick="xhr('/clientes/editar?id={{id}}')">Editar</button>
		<span></p>
				</div>
			</li>`;

			Render.execute(search, $('#clientes-renderTo'), mask, maskFirst);
	};

	$(document).ready(function() {

		$('#procuracliente').bind("keyup", function(){
			renderClientes();
		});
	});

	$("#resposta-ajax").bind('click', function() {
		closeResposta();
	});

	$(document).ready(function(){

		renderClientes();
	});
</script>