<div class="pane">
	<h2 class="text-center">Editar Cliente</h2>
	<form id="form-editar-cliente" action="/{{nome_sistema}}" name="form-login" method="post" novalidate="novalidate">
		<input type="hidden" name="id" id="editar-id_cliente" value=""/>
		<div class="form-group">
			<label>Nome completo</label>
			<input type="text" name="nome" class="form-control" value="" id="editar-nome" />
		</div>

		<div class="form-group">
			<label>Sexo</label>
			<select name="sexo" class="form-control" id="editar-sexo">
				<option value="1">Masculino</option>
				<option value="2">Feminino</option>
			</select>
		</div>

		<div class="form-group">
			<label>Cidade</label>
			<input name="cid_codigo" type="text" class="form-control" id="editar-cidade" />
		</div>

		<div class="form-group">
			<label>Descrição</label>
			<textarea name="descricao" class="form-control" id="editar-descricao" rows="3"></textarea>
		</div>

		<div class="form-actions">

			<input type="submit" class="btn btn-large btn-positive" value="Atualizar" />
			<button type="submit" class="btn btn-form btn-default">Cancel</button>
		</div>
	</form>
	<p id="resposta-ajax"></p>
	<span id="reload" class="icon icon-arrows-ccw text-center hidden"></span>
</div>
<script>
	window.editar_cliente = {{editar_cliente}};

	window.editar_render = function(){

		const cliente = editar_cliente;

		if(cliente.id_cliente){

			$('#editar-id_cliente').val(cliente.id_cliente);
		}

		if(cliente.cid_codigo){

			$('#editar-cidade').val(cliente.cid_codigo);
		}
		if(cliente.sexo){

			$('#editar-sexo').val(cliente.sexo);
		}
		
		if(cliente.descricao !== ''){

			$('#editar-descricao').val(cliente.descricao);
		}

		if(cliente.nome !== ''){

			$('#editar-nome').val(cliente.nome);
		}

	};

	$('#form-editar-cliente').submit(function(e) {
		e.preventDefault();
		var serializeDados = $('#form-editar-cliente').serialize();
		var res = $('#resposta-ajax');
		var reload = document.getElementById('reload');
		$('.form-actions').addClass('hidden');

		res.html('Aguarde...');
		res.removeClass('hidden');
		boxNeutro(res);
		$.ajax({
			url: '/clientes/editar_cliente',
			dataType: 'json',
			type: 'POST',
			data: serializeDados,
			beforeSend: function() {

			},
			complete: function() {

			},
			success: function(data, textStatus) {

				$('.form-actions').removeClass('hidden');
				if(data.res == 'ok'){

					boxTrue(res);
					res.html('<span class="icon icon-check"></span> '+data.info);
					xhr('/clientes');

				}else{

					boxFalse(res);
					res.html('<span class="icon icon-cancel"></span> '+data.info);
					$('#input-email').focus();
				}
			},
			error: function(xhr,er) {

				boxFalse(res);
			}
		});
	});

	$("#resposta-ajax").bind('click', function() {
		closeResposta();
	});

	$(document).ready(function(){

		editar_render();
	});
</script>