<div class="pane">
	<h2>Novo Cliente</h2>
	<form id="form-novo-cliente" action="/{{nome_sistema}}" name="form-login" method="post" novalidate="novalidate">
		<div class="form-group">
			<label>Nome completo</label>
			<input type="text" name="nome" class="form-control" placeholder="nome completo">
		</div>

		<div class="form-group">
			<label>Sexo</label>
			<select name="sexo" class="form-control">
				<option value="1">Masculino</option>
				<option value="2">Feminino</option>
			</select>
		</div>

		<div class="form-group">
			<div class="inline-block width-50 pd-right">
				<label>Estado</label>
				<select name="est_codigo" class="form-control" id="novo-estado">
					<option value="">selecione</option>
				</select>
			</div>
			<div class="inline-block width-50 pd-left">
				<label>Cidade</label>
				<select name="cid_codigo" class="form-control" id="novo-cidade">
					<option value="">selecione</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label>Descrição</label>
			<textarea name="descricao" class="form-control" rows="3"></textarea>
		</div>

		<div class="form-actions">

			<input type="submit" class="btn btn-large btn-positive" value="Entrar" />
			<button type="button" class="btn btn-form btn-primary">OK</button>
			<button type="submit" class="btn btn-form btn-default">Cancel</button>
		</div>
	</form>
	<p id="resposta-ajax"></p>
	<span id="reload" class="icon icon-arrows-ccw text-center hidden"></span>
</div>
<script>
	window.novo_renderCidades = function(est_codigo){

		var selectedOption = '';
		var select = $('#novo-cidade');
		if(select.prop) {
		  var options = select.prop('options');
		}
		else {
		  var options = select.attr('options');
		}
		$('option', select).remove();

		cidades.sort(function(a, b){
			return parseInt(a)- parseInt(b);
		});

		options[options.length] = new Option('selecione', '');

		for(var x in cidades){

			if(est_codigo == cidades[x].estado_id){

		 		options[options.length] = new Option(cidades[x].nome, (Number(x) + 1));
			}
		}
		
		select.val(selectedOption);
	};

	window.novo_renderEstados = function(){

		var selectedOption = '';
		var select = $('#novo-estado');
		if(select.prop) {
		  var options = select.prop('options');
		}
		else {
		  var options = select.attr('options');
		}
		$('option', select).remove();

		estados.sort(function(a, b){
			return parseInt(a)- parseInt(b);
		});

		options[options.length] = new Option('selecione', '');

		for(var x in estados){

 			options[options.length] = new Option(estados[x].sigla+' - '+estados[x].nome, (Number(x) + 1));
		}

		select.val(selectedOption);
	};

	$(document).ready(function(){
		$('#form-novo-cliente').submit(function(e) {
			e.preventDefault();
			var serializeDados = $('#form-novo-cliente').serialize();
			var res = $('#resposta-ajax');
			var reload = document.getElementById('reload');
			$('.form-actions').addClass('hidden');

			res.html('Aguarde...');
			res.removeClass('hidden');
			boxNeutro(res);
			$.ajax({
				url: '/clientes/novo',
				dataType: 'json',
				type: 'POST',
				data: serializeDados,
				beforeSend: function() {

				},
				complete: function() {

				},
				success: function(data, textStatus) {

					$('.form-actions').removeClass('hidden');
					if(data.res == 'ok'){

						boxTrue(res);
						res.html('<span class="icon icon-check"></span> '+data.info);
						xhr('/clientes');

					}else{

						boxFalse(res);
						res.html('<span class="icon icon-cancel"></span> '+data.info);
						$('#input-email').focus();
					}
				},
				error: function(xhr,er) {

					boxFalse(res);
				}
			});
		});
		$("#resposta-ajax").bind('click', function() {
			closeResposta();
		});

		$("#novo-estado").bind('change', function() {
			novo_renderCidades($("#novo-estado").val());
		});

		novo_renderEstados();
	});
</script>