<div class="pane" style="padding: 40px;">
	<h2>Novo Cliente</h2>
	<form id="form-novo-cliente" action="/{{nome_sistema}}" name="form-login" method="post" novalidate="novalidate">
		<div class="form-group">
			<label>Nome completo</label>
			<input type="text" name="nome" class="form-control" placeholder="nome completo">
		</div>

		<div class="form-group">
			<label>Sexo</label>
			<select name="sexo" class="form-control">
				<option value="1">Masculino</option>
				<option value="2">Feminino</option>
			</select>
		</div>

		<div class="form-group">
			<label>Cidade</label>
			<input name="cidade" type="text" class="form-control" placeholder="cidade">
		</div>

		<div class="form-group">
			<label>Descrição</label>
			<textarea name="descricao" class="form-control" rows="3"></textarea>
		</div>

		<div class="form-actions">

			<input type="submit" class="btn btn-large btn-positive" value="Entrar" />
			<button type="button" class="btn btn-form btn-primary">OK</button>
			<button type="submit" class="btn btn-form btn-default">Cancel</button>
		</div>
	</form>
	<p id="resposta-ajax"></p>
	<span id="reload" class="icon icon-arrows-ccw text-center hidden"></span>
</div>
<script>
	
	$(document).ready(function(){
		$('#form-novo-cliente').submit(function(e) {
			e.preventDefault();
			var serializeDados = $('#form-novo-cliente').serialize();
			var res = $('#resposta-ajax');
			var reload = document.getElementById('reload');
			$('.form-actions').addClass('hidden');

			res.html('Aguarde...');
			res.removeClass('hidden');
			boxNeutro(res);
			$.ajax({
				url: '/clientes/novo',
				dataType: 'json',
				type: 'POST',
				data: serializeDados,
				beforeSend: function() {

				},
				complete: function() {

				},
				success: function(data, textStatus) {

					$('.form-actions').removeClass('hidden');
					if(data.res == 'ok'){

						boxTrue(res);
						res.html('<span class="icon icon-check"></span> '+data.info);
						xhr('/clientes');

					}else{

						boxFalse(res);
						res.html('<span class="icon icon-cancel"></span> '+data.info);
						$('#input-email').focus();
					}
				},
				error: function(xhr,er) {

					boxFalse(res);
				}
			});
		});

		$("#resposta-ajax").bind('click', function() {

			$('#resposta-ajax').addClass('hidden');
		});
	});



</script>